/* Estilo para el área de contenido */
.content-area {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
}

.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    text-align: center;
    margin-top: 0;
    color: #333;
}

/* Estilos para formularios y tarjetas */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h4 {
    margin-top: 20px;
    color: #333;
}

/* Estilo para la tarjeta */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

form select, form input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

form .form-group {
    margin-bottom: 20px;
}

form .btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form .btn-submit:hover {
    background-color: #218838;
}
