
        <!-- Panel Lateral (Sidebar) -->
        <aside class="sidebar">
            <h2>Administrador</h2>
            <ul>
                <li><a href="/admin/generarReportes" class="menu-option">Generar Reportes</a></li>
                <li><a href="/admin/gestionarProductos" class="menu-option">Gestionar Productos</a></li>
                <li><a href="/admin/gestionarStock" class="menu-option">Gestionar Stock</a></li>
                <li><a href="#" class="menu-option">Gestionar Descuentos</a></li>
                <li><a href="#" class="menu-option">Gestionar Promociones</a></li>
            </ul>
        </aside>

