<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pagoExitoso.css">
    <title>Pago Exitoso</title> 
</head>
<body>
    <div class="success-container">
        <div class="checkmark">✔️</div>
        <h2>¡Pago Exitoso!</h2>
        <p>Tu pago ha sido procesado correctamente.</p>
        <a href="/productos/catalogo" class="btn">Volver al inicio</a>
    </div>
</body>
</html>
