<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/pagoCancelado.css">
  <title>Pago Cancelado</title>
</head>
<body>
  <div class="container">
    <h2>¡Pago Cancelado!</h2>
    <img class="paypal-logo" src="https://www.paypalobjects.com/webstatic/icon/pp258.png" alt="PayPal Logo">

    <p>El pago fue cancelado. No se ha realizado ningún cargo.</p>
    <p>Si tienes algún problema, no dudes en intentar nuevamente o comprueba tu conexion a internet</p>

    <a href="/productos/catalogo" class="btn">Volver al menu principal </a>
  </div>

  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f4f4f4;
      margin: 0;
    }
    .container {
      text-align: center;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 80%;
      max-width: 600px;
    }
    .paypal-logo {
      width: 150px;
      margin: 20px 0;
    }
    h2 {
      color: #ff0000;
      font-size: 2rem;
      margin-bottom: 10px;
    }
    p {
      color: #555;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    .btn {
      display: inline-block;
      background-color: #0070ba;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-size: 1rem;
    }
    .btn:hover {
      background-color: #005f8e;
    }
  </style>
</body>
</h
